@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-50 text-gray-900;
}

input, textarea, button, select {
  @apply border border-gray-300 rounded px-3 py-2;
}

button {
  @apply bg-gray-900 text-white;
}
